@model IEnumerable<Projet_Audit.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Risque.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reponse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coefficient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommandation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesurePropose)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Risque.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reponse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recommandation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesurePropose)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_question }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_question }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_question })
        </td>
    </tr>
}

</table>
